
<div class="container-fluid mb-5">
  <h2>Employee Form</h2>
  <form #empForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="form-group row">
      <div class="col-md-4">
        <label>Name</label>
        <input type="text" required #name="ngModel" 
        [class.is-invalid]="name.invalid && name.touched" class="form-control"
        name="empName" [(ngModel)]="empModel.name">
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
      </div>

      <div class="col-md-4">
        <label>Email</label>
        <input type="email" required #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
        [class.is-invalid]="email.invalid && email.touched" class="form-control" name="email"  [(ngModel)]="empModel.email">
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required and in the correct format</small>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4">
        <label>Phone Number</label>
        <input type="tel" required #phone="ngModel" pattern="^\d{10}$"
        [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="phone" [(ngModel)]="empModel.phone">
        <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required & must be 10 digits</small>
      </div>
  
      <div class="col-md-4">
        <label>Date of Birth</label>
        <input type="date" required class="form-control" name="dob" [(ngModel)]="empModel.dob">
      </div>

    </div>

    <div ngModelGroup="address">
      <div class="col-md-8">
        <label>Address</label>
        <textarea type="text" required #address="ngModel" class="form-control"
        [class.is-invalid]="address.invalid && address.touched" name="address" [(ngModel)]="empModel.address">
        <small class="text-danger" [class.d-none]="address.valid || address.untouched">Address is required</small>
      </textarea>
      </div>

  

      <div class="form-group row">
        <div class="col-md-4">
          <label>City</label>
          <input type="text" required #city="ngModel" class="form-control"
          [class.is-invalid]="city.invalid && city.touched" name="city" [(ngModel)]="empModel.city">
          <small class="text-danger" [class.d-none]="city.valid || city.untouched">City is required</small>
        </div>
  
        
  
        <div class="col-md-4">
          <label>Postal Code</label>
          <input type="text" required #postalCode="ngModel" pattern="^\d{6}$" class="form-control"
          [class.is-invalid]="postalCode.invalid && postalCode.touched" name="postalCode" [(ngModel)]="empModel.postalCode">
          <small class="text-danger" [class.d-none]="postalCode.valid || postalCode.untouched">Invalid Postal Code</small>
        </div>

      </div>
    </div>

    <br> 

    <button [disabled]="empForm.form.invalid" class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
